In [1]:
import pandas as pd
import numpy as np

In [2]:
data=pd.read_csv('Downloads/titanic.csv')

In [3]:
data.head()

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home_dest
0,1,True,"Allen, Miss. Elisabeth Walton",female,29.0000,0,0,24160,211.3375,B5,S,2,NaN,"St Louis, MO"
1,1,True,"Allison, Master. Hudson Trevor",male,0.9167,1,2,113781,151.5500,C22 C26,S,11,NaN,"Montreal, PQ / Chesterville, ON"
2,1,False,"Allison, Miss. Helen Loraine",female,2.0000,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"
3,1,False,"Allison, Mr. Hudson Joshua Creighton",male,30.0000,1,2,113781,151.5500,C22 C26,S,NaN,135.0,"Montreal, PQ / Chesterville, ON"
4,1,False,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25.0000,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"

In [8]:
data.drop(['name','sibsp','parch','ticket','cabin','embarked','boat','body','home_dest'],axis='columns',inplace=True)

In [10]:
data.head()

   pclass  survived     sex      age      fare
0       1      True  female  29.0000  211.3375
1       1      True    male   0.9167  151.5500
2       1     False  female   2.0000  151.5500
3       1     False    male  30.0000  151.5500
4       1     False  female  25.0000  151.5500

In [22]:
data.isnull().sum()

pclass        0
survived      0
sex           0
age         263
fare          1
dtype: int64

In [23]:
data.age=data.age.fillna(data.age.mean())

In [24]:
data.fare=data.fare.fillna(data.fare.mean())

In [36]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()

In [38]:
survive=le.fit_transform(data.survived)

In [40]:
data.survived=survive

In [41]:
data.sex=le.fit_transform(data.sex)

In [42]:
target=data.survived
inputs=data.drop(['survived'],axis='columns')

In [43]:
from sklearn.naive_bayes import GaussianNB

In [44]:
model=GaussianNB()

In [45]:
# split ythe datsest
from sklearn.model_selection import train_test_split

In [46]:
x_train, x_test, y_train, y_test = train_test_split(inputs, target, test_size=0.2, random_state=0)

In [47]:
# train the model
model.fit(x_train,y_train)

GaussianNB()

In [48]:
model.score(x_test,y_test)

0.767175572519084

In [50]:
from sklearn.metrics import confusion_matrix

In [51]:
cm=confusion_matrix(model.predict(x_test),y_test)

In [52]:
cm

array([[135,  34],
       [ 27,  66]], dtype=int64)

In [53]:
from sklearn.model_selection import cross_val_score

In [54]:
cross_val_score(GaussianNB(),inputs,target)

array([0.50381679, 0.82824427, 0.79770992, 0.70992366, 0.61685824])